<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OOP_Coffee.Properties.Settings.CoffeeOOpConnectionString"
            connectionString="Data Source=DESKTOP-0C6LJMU;Initial Catalog=CoffeeOOp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OOP_Coffee.Properties.Settings.CoffeeDBConnectionString"
            connectionString="Data Source=DESKTOP-C8B20IS;Initial Catalog=CoffeeDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OOP_Coffee.Properties.Settings.TestDBConnectionString"
            connectionString="Data Source=DESKTOP-C8B20IS;Initial Catalog=TestDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="OOP_Coffee.Properties.Settings.Coffee_DBConnectionString"
            connectionString="Data Source=DESKTOP-0C6LJMU;Initial Catalog=Coffee-DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
